/* css for accordion */
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
.sidemenutitle {
    color: orange;
    margin-left: 10px;
    text-align: left;
}
/*end css for accordion*/

@CHARSET "ISO-8859-1";
.notificationbar {
    margin-left: -20px;
    margin-top: -5px;
}
body {
    padding-bottom: 0 !important;
}

p{
font-size:12px;
}
.label{
color:black;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 60px;
    line-height: 20px;
    padding: 15px;
}
img {
width: auto;
border: 0;
-ms-interpolation-mode: bicubic;
vertical-align: middle;

}
.rightbar {
	min-height: 457px;
	min-width: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}
.notipanel{
margin:0!important;
}
.footer {
	margin-top: 10px;
	text-align:center;
}
/*.img-responsive {
	display: block;
	height: 25px;
	margin: 10px;
	max-width: 25px;
}*/

.panel-body {
	background-color: #EEEEEE;
	padding: 5px;
}
.panel-default {
    border-color: #DDDDDD;
    box-shadow: 2px 2px 11px #CCCCCC;
    margin-top:5px;
}

.maingrid {
	/*min-width: 400px;*/
	min-height: 550px;
	width:80%!important;
}

.sidegrid {
	min-width: 25px;
	min-height: 550px;
	margin-top:15px;
	width:20%!important;
	/*background: none repeat scroll 0 0 #BED1B3;*/
	}

.btn-primary {
	color:#ca7f35; /*changed by srijana from white to red 21012014*/
	background-color: #DDDDDD;
	width:85%;
	/*changed by srijana from blue to white 21012014*/
}

.btn-success {
	background-color: #FD9B08;
	border-color: #ee7600;
	color: #000;
	margin-top: 20px;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 1px; /*changed by srijana 22012014 from 20px*/
	border: 1px solid transparent;
}

@media ( min-width : 768px) {
	.navbar {
		border-radius: 4px;
		min-height: 5px; /*added by srijana 22012014*/
	}
}

.navbar-default {
background:	#000;

}

.navbar-default .navbar-nav > li > a {
    color: #111111;
}
.navbar-inverse {
	background-color: #ffffff;
	/*changed by srijana 20012014 from black color*/
	border-color: #ffffff; /*changed by srijana 20012014 from black color*/
}
.label-default {
	background-color: transparent; /*changed by srijana from #eeeeee 21012014*/
}

h2 {
	font-size: 10px; /*changed by srijana from 30px to 25px 21012014*/
	text-align: left; /*added by srijana 21012014*/
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.col-md-10 {
	/*background: #EEEEEE;*/
}

.column{
padding:2px;
}

.container {
	min-width: 100%;
}
nav {
    margin-left: 15px;
    margin-right: 15px;
}
.nav>li>a:hover,.nav>li>a:focus, .active_menu {
	text-decoration: none;
	color: orange;
	background-color: #FFA500;/*hover background color for side menu in admin page*/
	border-color:#bbb;
	}
.glyphnavmenu {
    font-size: 35px !important;
    top: 7px !important;
}
.sidemenu{
	padding:5px;
}
.rightbar{
	/*min-height:500px;*/
	min-width: 160px;
}
.notificationbar{
	/*min-height:60px;
	min-width:160px;*/
}

.row:before, .row:after {
    content: " ";
    display: table;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row {
    margin-left: 1px;
    margin-right:1px;
}

   /*css added 09032014 after alteration*/

.Dashboard{
	/*height:500px;*/
	padding-top:10px;
}
.newsboard{
padding-top:10px;
}
/*.Sidebar1{
	height:500px;
}
.Sidebar2{
	height:500px;
}
.Sidebar3{
	height:500px;
}*/
.thumbnail {
    background-color: #F9F9F9;
    border: 1px solid #F2F2F2;
    border-radius: 15px 15px 0px 0px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
    box-shadow: 1px 2px 1px #818181;
    background-color:white;
 }
 .thumbnail img{
	width:421px;
	height:490px;
}
 .thumbnail .caption {
    background-color: #ee7600;
    height: 20px;
    padding: 0;
   /* width: 110px;*/
}
.thumbnail h4 {
    color: #000;
    font-family: comic sans ms;
    font-size: 8.5px;
    font-weight: bold;
    margin-top: 0px;
	text-align: center;
    text-shadow: 1px 2px 8px #bbb;
}
.col-sm-2 {
    /*width: 25%;
	display: -moz-inline-box;*/
	display:inline;
	display:initial;
}
.col-sm-2.column {
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
    }
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
	{
	color:#ffb469;
	background-color: #e9e9e9!important;
	border-color: #DDDDDD;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: orange;
    border-color: orange;
    color: #fff;
}

.welcomemsg {
    color: #000000;
    font-size: 100%!important;
    line-height: 4;
 }
 .signoutbtn {
    margin-bottom: 0!important;
    margin-top: 5px;
}
/*added for freeichat by srijana 13032014*/
.frei_options {
    background: none repeat scroll 0 0 #eeeeee!important;
    border: 1px solid #808080;
    border-radius: 4px;
    margin-bottom: -10px;
    width: 199px;
}
.freichathead {
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 1px 0 #194b7e;
background: -moz-linear-gradient(45deg,  rgba(252,255,244,0.91) 0%, rgba(234,236,229,0.91) 21%, rgba(204,204,204,0.95) 55%, rgba(204,204,204,1) 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(252,255,244,0.91)), color-stop(21%,rgba(234,236,229,0.91)), color-stop(55%,rgba(204,204,204,0.95)), color-stop(100%,rgba(204,204,204,1)))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(252,255,244,0.91) 0%,rgba(234,236,229,0.91) 21%,rgba(204,204,204,0.95) 55%,rgba(204,204,204,1) 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(252,255,244,0.91) 0%,rgba(234,236,229,0.91) 21%,rgba(204,204,204,0.95) 55%,rgba(204,204,204,1) 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(252,255,244,0.91) 0%,rgba(234,236,229,0.91) 21%,rgba(204,204,204,0.95) 55%,rgba(204,204,204,1) 100%)!important; /* IE10+ */
background: linear-gradient(45deg,  rgba(252,255,244,0.91) 0%,rgba(234,236,229,0.91) 21%,rgba(204,204,204,0.95) 55%,rgba(204,204,204,1) 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8fcfff4', endColorstr='#cccccc',GradientType=1 )!important; /* IE6-9 fallback on horizontal gradient */

  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  width: 202px;
}
.user_freichat_head_content {
    color: #000000!important;
    font-weight: bold;
}
.frei_user_count {
    color: #ca7f35!important;
    padding-left: 10px;
}

/*emailpage css*/
.container.emailpage {
    min-width: 50%;
}
.top1{
	background-color:#EEEEEE;
}
.top2{
	background-color:#EEEEEE;
}

.emailnavbar{
	background-color:#cccccc;
}
.btn-default .badge {
    color: #000000;
    background-color:#cccccc;
}
.btn-group, .btn-group-vertical {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    /*width: 175px;*/
}
.btn .badge{
	margin-left:20px;
	margin-top:7px;
}
.btn-group-vertical {
    margin-left: 10px;
}
.sidemenu{
	min-height:500px;
	background-color:#dddddd;
	display: -moz-box;
	display:-webkit-inline-flex;
	display:table;
}
.emailmain{
	min-height:500px;
	background-color:#eeeeee;
}
.row .emailrow{
	height:250px;
}
.row .emaildescrow{
	height:250px;
	background-color:#DEDEDE;
}

.col-md-2 {
    padding-left: 0;
    width: 16.6667%;
}

.rightmenu {
    text-align: right;
   }
.rlists > li {
    display: inline;
    padding-left: 10px;
}
.glyphicon {
    display: inline; /*changed on 30/10/2014 by srijana*/
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 1px;
    color:#ca7f35;
    font-size:18px;
   }
.fa {
    display: inline-block!important;
    font-family:'FontAwesome';
    font-size: 20px;
    font-style: normal!important;
    line-height: 1!important;
    position:relative!important;
    top:2px!important;
    color:#ca7f35;
	font-weight:normal;
}
span.glyphicon-link {
   font-size: 1.2em;
}
.glymenu {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-family:'Glyphicons Halflings';
    line-height: 1;
    position: relative;
    top: 1px;
    color:#555555;
    font-size:18px;

}
.fa .glymenu{
	 display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    font-family:'fontAwesome';
    top: 1px;
    color:gray;
    font-size:10px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #555555!important;
    font-weight: bold;
}
.btn-danger {
    background-color: #FFA500;
    color: #FFFFFF;
    border-color:gray;
	margin-bottom: 0 !important;
}
#frei_img {
    background-color: #FFA500;
    color: #FFA500;
}
a {
    color: #FFA500;
    text-decoration: none;
}
.btn-info {
    background-color: #ca7f35;
    border-color: #ca7f35;
    color: white;
	margin:10px;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-active, .open .dropdown-toggle .btn-info{
	background-color:#ca7f35;
	border-color:#ca7f35;
	color:black;
}
.btn-default {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #FFA500;
}
.btnlogin {
    text-align: center!important;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #EBEBEB;
    border-color: #ADADAD;
    color: #FFA500;
}
.dropdown-menu > li > a {
    clear: both;
    color: #FFA500;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}
fieldset {
position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
    border: 0 none;
    background-color:#eee;
	width:35%;
	text-align: center;
   /* padding: 100px;
   
    min-height:400px;*/
}
.is-add-button{
	font-size:30px!important;
	color:#ca7f35;
}
.managebutton{
	border-color:white;
}


body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
html {
    font-size: 62.5%;
}
html {
    font-family: sans-serif;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}

.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 50%;
}


/*.inactive.menulist {
    min-height: 57px;
    min-width: 57px;
}

/*login page css*/
.loginmain{
	min-height:550px;
	font-size:20px;
	/*background:#eee;*/
}
legend{
	font-size:25px;
}
.input-xlarge{
	width:50%;
	padding-left: 10px;
}
.loginsignout{
	margin-left:100px;
}
/*END login page css*/
/*.btn.custom-border-color {
    border: 1px solid #ffffff;
}*/

/*Admin page css*/
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.42857;
    padding: 6px 12px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
	width:100%;
}
table.dataTable tr.odd td.sorting_1 {
    background-color: #EEEEEE!important;
}
table.dataTable tr.even td.sorting_1 {
    background-color: white!important;
}
table.dataTable tr.odd {
    background-color: #EEEEEE!important;
}
table.dataTable tr.even {
    background-color:white!important;
}
.ui-state-default .ui-icon {
    background-color: #FFF !important;
}
a:hover, a:focus{
	color:#ffb469;
	text-decoration:none;
}
#data_table_filter input {
    border-radius: 10px;
}
/*END Admin page css*/
/*
    Component: Mailbox
*/
.mailbox .table-mailbox {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.mailbox .table-mailbox tr.unread > td {
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
  font-weight: 600;
}
.mailbox .table-mailbox tr > td > .fa.fa-star,
.mailbox .table-mailbox tr > td > .fa.fa-star-o,
.mailbox .table-mailbox tr > td > .glyphicon.glyphicon-star,
.mailbox .table-mailbox tr > td > .glyphicon.glyphicon-star-empty {
  color: #f39c12;
  cursor: pointer;
}
.mailbox .table-mailbox tr > td.small-col {
  width: 30px;
}
.mailbox .table-mailbox tr > td.name {
  width: 150px;
  font-weight: 600;
}
.mailbox .table-mailbox tr > td.time {
  text-align: right;
  width: 100px;
}
.mailbox .table-mailbox tr > td {
  white-space: nowrap;
}
.mailbox .table-mailbox tr > td > a {
  color: #444;
}
@media screen and (max-width: 767px) {
  .mailbox .nav-stacked > li:not(.header) {
    float: left;
    width: 50%;
  }
  .mailbox .nav-stacked > li:not(.header).header {
    border: 0!important;
  }
  .mailbox .search-form {
    margin-top: 10px;
  }
}
/*Start of navbar css*/
.navbar-brand {
padding:5px;
}
.navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
}
.navbar-nav > li > a {
    line-height: 43.5px;
    padding-bottom: 10px;
    padding-top: 5px;
}
.inactive.menulist > a {
    border-right: 2px solid #CCCCCC;
    background:#dddddd;
    text-align: left;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ca7f35;
    background-color:#cccccc;
}
.fa.fa-angle-right.readallmsgglyph {
    margin-left: 10px;
    top: 2px !important;
}
.badge.noti{
	background-color: #800000;
    border-radius: 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    text-align: center;
    vertical-align: super;
    white-space: nowrap;
}
.bell{
margin-top:8px;
margin-left:10px;
}
/*END of navbar css*/

ul, ol {
    display: inline;
    list-style: none outside none;
	}
	
.thumbnail .caption {
    color: #333;
    padding: 4px 0 0;
    
}
.newsbody p{
    padding:2px;
}
.newsbody h4{
    margin:2px;
}
.newsbody a{
    margin:20spx;
}
